---
import Navbar from '../components/Navbar.astro'
import Layout from '../layouts/Layout.astro'
import ColorInfo from '../components/ColorInfo.astro'
---

<Layout title="Prisma Colors">
    <main class="container mx-auto">
        <Navbar />
        <ColorInfo />
    </main>
</Layout>
