---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro'
import ColorInfo from '../components/ColorInfo.astro'
import { SampleGrid } from '../components/SampleGrid.tsx'
---

<Layout title="Prisma">
    <main class="container mx-auto gap-2">
        <Navbar />
        <ColorInfo />
        <SampleGrid client:only="react" />
        <Footer />
    </main>
</Layout>
