---
import Navbar from '../components/Navbar.astro'
import Layout from '../layouts/Layout.astro'
import ColorInfo from '../components/ColorInfo.astro'
import { SampleGrid } from '../components/SampleGrid.tsx'
---

<Layout title="Prisma Colors">
    <main class="container mx-auto">
        <Navbar />
        <ColorInfo />
        <SampleGrid client:only="react" />
    </main>
</Layout>
