---
import Navbar from '../components/Navbar.astro'
import Layout from '../layouts/Layout.astro'
import ColorPanel from '../components/ColorPanel.astro'
---

<Layout title="Prisma Colors">
    <main class="container mx-auto">
        <Navbar />
        <ColorPanel />
    </main>
</Layout>
