---
import { ColorInfo } from './ColorInfo.tsx'
---

<section
    class="bg-white border border-gray-200 shadow-md rounded-lg gap-3 p-4 flex flex-wrap items-center justify-between"
>
    <ColorInfo client:load title="Background Color" color="#000000" />
</section>
