---
import { Background } from './Background.tsx'
import { Foreground } from './Foreground.tsx'
---

<section
    class="bg-white border border-gray-200 shadow-md rounded-lg gap-3 p-4 flex flex-wrap items-center justify-between"
>
    <Background client:load />
    <Foreground client:load />
</section>
