---
import ColorPanel from './ColorPanel.astro'
import SuggestionsPanel from './SuggestionsPanel.astro'
---

<section class="grid grid-cols-2 gap-4">
    <section>
        <ColorPanel />
        <ColorPanel />
    </section>
    <SuggestionsPanel />
</section>
