---
import ColorPanel from './ColorPanel.astro'
import SuggestionsPanel from './SuggestionsPanel.astro'
import { ContrastResult } from './ContrastResult'
---

<section class="grid grid-cols-2 gap-4">
    <section class="flex flex-col gap-4">
        <ColorPanel />
        <ContrastResult client:load />
    </section>
    <SuggestionsPanel />
</section>
