---
import Twitter from '../icons/Twitter.astro'
import Website from '../icons/Website.astro'
import Heart from '../icons/Heart.astro'
---

<footer class="rounded-lg m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
            >Coded with
            <Heart />
            by <a href="https://github.com/camilohreina" class="hover:underline text-gray-900">xDiffernt</a>.
        </span>
        <ul class="flex gap-4 flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="https://twitter.com/xdiffernt" class="hover:underline">
                    <Twitter />
                </a>
            </li>
            <li>
                <a href="https://xdiffernt.com/" class="hover:underline">
                    <Website />
                </a>
            </li>
        </ul>
    </div>
</footer>
